<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.github.sweeper3000.canadacharter">

    <uses-sdk tools:overrideLibrary="android.support.customtabs" />

    <application
        android:allowBackup="false"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <activity android:name=".GuaranteeOfRightsAndFreedomsActivity"
            android:label="@string/actionbar__guarantee_of_rights_and_freedoms">
        </activity>

        <activity android:name=".FundamentalFreedomsActivity"
            android:label="@string/actionbar__fundamental_freedoms">
        </activity>

        <activity android:name=".DemocraticRightsActivity"
            android:label="@string/actionbar__democratic_rights">
        </activity>

        <activity android:name=".MobilityRightsActivity"
            android:label="@string/actionbar__mobility_rights">
        </activity>

        <activity android:name=".LegalRightsActivity"
            android:label="@string/actionbar__legal_rights">
        </activity>

        <activity android:name=".EqualityRightsActivity"
            android:label="@string/actionbar__equality_rights">
        </activity>

        <activity android:name=".OfficialLanguagesOfCanadaActivity"
            android:label="@string/actionbar__official_languages_of_canada">
        </activity>

        <activity android:name=".MinorityLanguageEducationalRightsActivity"
            android:label="@string/actionbar__minority_language_educational_rights">
        </activity>

        <activity android:name=".EnforcementActivity"
            android:label="@string/actionbar__enforcement">
        </activity>

        <activity android:name=".GeneralActivity"
            android:label="@string/actionbar__general">
        </activity>

        <activity android:name=".ApplicationOfCharterActivity"
            android:label="@string/actionbar__application_of_charter">
        </activity>

        <activity android:name=".About"
            android:label="@string/actionbar__about">
        </activity>

    </application>

</manifest>