<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (C) 2017 sweeper3000
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU General Public License for more details.
  ~
  ~     You should have received a copy of the GNU General Public License
  ~     along with this program.  If not, see <http://www.gnu.org/licenses/>.
  ~
  ~    @email: sweeper3000.github@gmail.com
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.github.sweeper3000.canadacharter">

    <uses-sdk tools:overrideLibrary="android.support.customtabs" />

    <application
        android:allowBackup="false"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:resizeableActivity="true">

        <meta-data android:name="android.max_aspect"
            android:value="2.1" />

        <activity android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <activity android:name=".GuaranteeOfRightsAndFreedomsActivity"
            android:label="@string/actionbar__guarantee_of_rights_and_freedoms">
        </activity>

        <activity android:name=".FundamentalFreedomsActivity"
            android:label="@string/actionbar__fundamental_freedoms">
        </activity>

        <activity android:name=".DemocraticRightsActivity"
            android:label="@string/actionbar__democratic_rights">
        </activity>

        <activity android:name=".MobilityRightsActivity"
            android:label="@string/actionbar__mobility_rights">
        </activity>

        <activity android:name=".LegalRightsActivity"
            android:label="@string/actionbar__legal_rights">
        </activity>

        <activity android:name=".EqualityRightsActivity"
            android:label="@string/actionbar__equality_rights">
        </activity>

        <activity android:name=".OfficialLanguagesOfCanadaActivity"
            android:label="@string/actionbar__official_languages_of_canada">
        </activity>

        <activity android:name=".MinorityLanguageEducationalRightsActivity"
            android:label="@string/actionbar__minority_language_educational_rights">
        </activity>

        <activity android:name=".EnforcementActivity"
            android:label="@string/actionbar__enforcement">
        </activity>

        <activity android:name=".GeneralActivity"
            android:label="@string/actionbar__general">
        </activity>

        <activity android:name=".ApplicationOfCharterActivity"
            android:label="@string/actionbar__application_of_charter">
        </activity>

        <activity android:name=".About"
            android:label="@string/actionbar__about">
        </activity>

    </application>

</manifest>